@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
:root {
    --color-theme: #20d3c2;
    --color-theme-light: #EDFCFA;
    --color-theme-dark: #0E153D;
    --color-dark: #080C24;
    --color-white: #FFFFFF;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-4: #F6F6F6;
    --color-product-instock: #82d8c6;
    --color-product-outofstock: #FE6C6C;

    --font-play: 'Play', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-14: 1,17rem;
    --font-size-16: 1,33rem;
    --font-size-18: 1,50rem;
    --font-size-24: 2rem;
    --font-size-36: 3rem;
    --font-size-60: 5rem;

    --border-radius-small: 8px;
    --border-radius-medium: 25px;
    --border-radius-rounded: 50%;
}

/* general */
html, body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-regular);
    color: var(--color-theme-dark);
}

.btn-theme {
    background-color: var(--color-theme);
    color: var(--color-white);
    border-radius: var(--border-radius-medium);
    font-weight: var(--font-weight-medium);
    padding-left: 1.4rem;
    padding-right: 1.4rem;

    .btn-theme:hover {
        background-color: var(--color-theme-dark);
    }
}



/* header-menu-top */
.header-menu-top {
    background-color: var(--color-theme);
    color: var(--color-white);
    height: 40px;

    .container {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        
        .site-settings {
        display: flex;      
        }
                
        .dropdown-theme button {
        background-color: var(--color-theme);
        color: var(--color-white);
        border: none;
        padding: 0;
        }
        
        .dropdown-theme button:hover {
            color: var(--color-theme-dark);
        }

        .links {
        display: none;
        }

        .menu-links {
        display: none;
        }
            .menu-links {          
            a {
            color: var(--color-white);
            text-decoration: none;
            margin: 0 1.2rem;
            }

            a:hover {
            color: var(--color-theme-dark);
            }

            .social-media {
            margin-left: 1rem;
            font-size: var(--font-size-14)
            }

            .social-media a {
            margin: 0 0.3rem;
            }
                
            .social-media a:last-child {
            margin: 0 0 0 0.3rem;
            } 
            } 
    }
}

/* header-menu-middle */
.header-menu-middle {
    background-color: var(--color-white);
    color: var(--color-theme-dark);

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2.2rem;
        padding-bottom: 2.2rem;

        .brand {
            flex: 2;
        }
        .search {
            flex: 4;
        }
        .menu-links {
            flex: 3;
            display: flex;
            justify-content: end;
            align-items: center;

            .menu-link {
                text-decoration: none;
                color: var(--color-theme-dark);
                margin: 0 0.2rem;
            }

            .menu-link:hover {
                color: var(--color-theme);
            }

            .menu-link:last-child {
                margin: 0 0 0 0.8rem;
            }

            .menu-link:first-child {
                margin: 0 5rem 0 0;
            }

            .menu-link i {
                font-size: var(--font-size-16);
            }
        }
    }
}

.header-menu-bottom {
    border-top: 1px solid var(--color-gray-2);

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .browse-categories {
            flex: 2;
        }
        
        .special-offer {
            flex: 7;
            display: flex;
            justify-content: end;
            align-items: center;
        }
    }
}



























@media (min-width: 578px) {
    .header-menu-top .container .menu-links {
        display: block;
    }
    .header-menu-top .container {
        justify-content: space-between;
    }
}

@media (min-width: 992px) {
    .header-menu-top .container .links {
        display: inline;
    }
}
