:root {
    --color-theme: #20d3c2;
    --color-theme-light: #EDFCFA;
    --color-dark: #0E153D;
    --color-gray-0: #AAAAAA;
    --color-gray-1: #CCCCCC;
    --color-gray-2: #E3E3E3;
    --color-gray-3: #EEEEEE;
    --color-gray-4: #F6F6F6;
}